In [1]:
#Ansewr(1)

single_quote_str = "Here's an example of using a single quote (' ) in a string"
print(single_quote_str)

Here's an example of using a single quote (' ) in a string

Answer (2)

The variable x = 'a( is a string type variable.

In Python, a string is a sequence of characters enclosed within quotes. Strings can be defined using either single quotes (') or double quotes ("), as long as the opening and closing quotes are the same.

In this case, the variable x is defined using a pair of single quotes ('a(). Since the value within the quotes is a sequence of characters, it is considered a string. Therefore, the variable x is a string type variable.

In [2]:
#Answer (3)

string = 'Welcome to Python foundation course'

# Using the split() function to split the string into words
words = string.split()
print('Words in the string:', words)

# Using the find() function to find the index of 'Python'
index = string.find('Python')
print('Index of "Python":', index)

# Using the count() function to count the number of 'o' characters in the string
count = string.count('o')
print('Number of "o" characters in the string:', count)

# Using the len() function to find the length of the string
length = len(string)
print('Length of the string:', length)

# Concatenating two strings using the + operator
string2 = ' is amazing!'
concatenated_string = string + string2
print('Concatenated string:', concatenated_string)

Words in the string: ['Welcome', 'to', 'Python', 'foundation', 'course']
Index of "Python": 11
Number of "o" characters in the string: 6
Length of the string: 35
Concatenated string: Welcome to Python foundation course is amazing!

In [4]:
#Answer (4)

wor = 'PanaJ1@T//56('
lowercase_count = 0

for char in wor:
    if char.islower():
        lowercase_count += 1

print("Total number of alphabets in lowercase:", lowercase_count)

wor = 'PanaJ1@T//56('
uppercase_count = 0

for char in wor:
    if char.isupper():
        uppercase_count += 1

print("Total number of alphabets in uppercase:", uppercase_count)

wor = 'PanaJ1@T//56('
numeric_count = 0

for char in wor:
    if char.isdigit():
        numeric_count += 1

print("Total number of numericals in string:", numeric_count)

Total number of alphabets in lowercase: 3
Total number of alphabets in uppercase: 3
Total number of numericals in string: 3

In [6]:
#Answer (5)

# Storing a numerical value in a variable
num = 1234

# Converting the numerical value to a string using the str() function
str_num = str(num)

# Printing the values and their data types
print('num:', num, type(num))
print('str_num:', str_num, type(str_num))

num: 1234 <class 'int'>
str_num: 1234 <class 'str'>